<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'viewer/css/style.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <link rel="stylesheet" href={% static 'viewer/css/bootstrap-image-gallery.min.css' %}>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">

    <script src="{% static 'viewer/js/jquery-1.12.4.js' %}"></script>
    <script src="{% static 'viewer/js/index.js' %}"></script>
</head>
<body>
    <div class="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">

                <a href="{% url 'viewer.views.index' %}">
                    <div class="navbar-header">
                        <img src="{% static 'viewer/img/secure_clouding64.png' %}">
                    </div>
                    <div class="navbar-brand">
                        &nbsp Secure Clouding
                    </div>
                </a>

				<div class="navbar-form navbar-right">
					<button type="button" class="btn btn-default" title="Log Out"><span class="glyphicon glyphicon-off"></span></button>
				</div>

                <form class="navbar-form navbar-right" method="post" action="{% url 'viewer.views.change_cloud' %}">
                    <div class="form-group">
                        <select type="text" id="cloud_select" class="form-control" name="cloud_name" value="{{ selected_drive }}">
                            <option value="google_drive">Google Drive</option>
                            <option value="dropbox">DropBox</option>
                            <option value="one_drive">One Drive</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-default" title="Open cloud">Open cloud</button>
                </form>


                <form class="navbar-form navbar-right" method="post" action="{% url 'viewer.views.change_gallery' %}">
                    <div class="form-group">
                        <select type="text" id="gallery_select" class="form-control" name="gallery_name" value="{{ selected_gallery }}">
                            <option value="secure_clouding">secure_clouding</option>
                            <option value="folder1-secure">folder1-secure</option>
                            <option value="new_folder">new_folder</option>
                        </select>
                    </div>
					<button type="button" class="btn btn-default" title="Browse location">Browse gallery</button>
                </form>

            </div>
        </nav>
    </div>

	<div class="middle">
		<div class="details">
			<div class="panel panel-default">

				<div class="panel-heading">
					<h2 class="panel-title">Cloud details</h2>
				</div>

				<div class="panel-body">
					<table class="details-table">
						<tr><th>Cloud:</th><td id="cloud_select_helper">{{ selected_drive }}</td></tr>
						<tr><th>Username:</th><td></td></tr>
					</table>
				</div>
			</div>

			<div class="panel panel-default">

				<div class="panel-heading">
					<h2 class="panel-title">Gallery details</h2>
				</div>

				<div class="panel-body">
					<table class="details-table">
						<tr><th>Location:</th><td>//clud/asdasdasd/dsagvbxcvbr t463/344/15asc</td></tr>
						<tr><th>Pictures no:</th><td></td></tr>
						<tr><th>Pages no:</th><td></td></tr>
						<tr><th>Current page:</th><td></td></tr>
					</table>
				</div>
			</div>
		</div>

        <div class="content">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h2 class="panel-title">Gallery content</h2>
                </div>

                <div class="panel-body">

                    {% block content %}
                    {% endblock %}

                </div>

                <div class="text-center panel-footer">

                    <nav>
                        <ul class="pagination">
                            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                            <li class=""><a href="#">2 <span class="sr-only">(current)</span></a></li>
                            <li class="enabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>
                        </ul>
                    </nav>

                </div>

            </div>
        </div>

	</div>

    <footer class="footer">
        <div class="panel-footer">
            <b>Secure Clouding</b>
            <span class="navbar-right">Nenad Todorović / David Vuletić / Nemanja Miladinović // July 2016&nbsp</span>
        </div>
    </footer>

</body>
</html>