<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Secure Clouding</title>
    {% load staticfiles %}
    <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'viewer/css/style.css' %}"/>
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}"/>

    <link rel="stylesheet" href={% static 'viewer/css/bootstrap-image-gallery.min.css' %}>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">

    <script src="{% static 'viewer/js/jquery-1.12.4.js' %}"></script>
    <script src="{% static 'viewer/js/index.js' %}"></script>
</head>
<body>
    <div class="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">

                <a href="{% url 'index' %}">
                    <div class="navbar-header">
                        <img src="{% static 'viewer/img/secure_clouding64.png' %}">
                    </div>
                    <div class="navbar-brand">
                        &nbsp Secure Clouding
                    </div>
                </a>

                <form class="navbar-form navbar-right" method="post" action="{% url 'close_session' %}">
                    <button type="submit" class="btn btn-default" title="Close Current Session"><span class="glyphicon glyphicon-off"></span></button>
                </form>

                <form class="navbar-form navbar-right" method="post" action="{% url 'change_cloud' %}">
                    <div class="form-group">
                        <select type="text" id="cloud_select" class="form-control select-control" name="cloud_name" value="{{ selected_drive }}">
                            <option value="google_drive">Google Drive</option>
                            <option value="dropbox">DropBox</option>
                            <option value="one_drive">One Drive</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-default" title="Open Cloud">Open cloud</button>
                </form>


                <form class="navbar-form navbar-right" method="post" action="{% url 'change_gallery' %}">
                    <div class="form-group">
                        <select type="text" id="gallery_select" class="form-control select-control gallery-choose" name="gallery_name" value="{{ selected_gallery }}">

                            {% for folder in folders_list %}
                                <option value="{{ folder }}">{{ folder }}</option>
                            {% endfor %}

                        </select>
                    </div>
					<button type="submit" class="btn btn-default gallery-choose" title="Browse Gallery">Browse gallery</button>
                </form>

                <script type="text/javascript">
                    if ({{folders_list}})
                        $('.gallery-choose').attr("disabled", true);
                </script>

            </div>
        </nav>
    </div>

	<div class="middle">
		<div class="details">
			<div class="panel panel-default">

				<div class="panel-heading">
					<h2 class="panel-title">Cloud details</h2>
				</div>

				<div class="panel-body">
                    {% if selected_drive %}
                        <table class="details-table">
                            <tr><th>Cloud:</th><td id="cloud_select_helper">{{ selected_drive }}</td></tr>
                            <tr><th>Username:</th><td>{{ cloud_user }}</td></tr>
                        </table>
                    {% else %}
                        <p class="no-content-message">There is no cloud selected</p>
                    {% endif %}

				</div>
			</div>

			<div class="panel panel-default">

				<div class="panel-heading">
					<h2 class="panel-title">Gallery details</h2>
				</div>

				<div class="panel-body">
                    {% if selected_gallery %}
                        <table class="details-table">
                            <tr><th>Location:</th><td id="gallery_select_helper">{{ selected_gallery }}</td></tr>
                            <tr><th>Pictures no:</th><td>{{ images_number }}</td></tr>
                            <tr><th>Pages no:</th><td>{{ total_pages }}</td></tr>
                            <tr><th>Current page:</th><td>{{ active_page }}</td></tr>
                        </table>
                    {% else %}
                        <p class="no-content-message">There is no gallery selected</p>
                    {% endif %}
				</div>
			</div>
		</div>

        <div class="content">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h2 class="panel-title">Gallery content</h2>
                </div>

                <div class="panel-body">

                    {% if images_list %}
                        <div class="images-list">
                            {% for image in images_list %}
                                <div class="image-item">
                                    <a href="{% static image %}" data-gallery>
                                        <img class="over-image" src="{% static 'viewer/img/overimage.png' %}" />
                                        <img class="single-image" src="{% static image %}" />
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                        <div id="blueimp-gallery" class="blueimp-gallery">
                            <div class="slides"></div>
                            <div class="modal fade">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-part-side prev">
                                            <span class="glyphicon glyphicon-chevron-left mybutton"></span>
                                        </div>
                                        <div class="modal-body modal-part-center next"></div>
                                        <div class="modal-part-side next">
                                            <span class="glyphicon glyphicon-chevron-right mybutton"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
                        <script src={% static 'viewer/js/bootstrap-image-gallery.min.js' %}></script>
                    {% else %}
                        <p class="no-content-message-big">There is no gallery selected</p>
                    {% endif %}

                </div>
                {% if active_page and total_pages and active_page <= total_pages and 0 < active_page %}
                    <div class="text-center panel-footer">
                        {% block paging %}
                        {% endblock %}
                    </div>
                {% endif %}

            </div>
        </div>

	</div>

    <footer class="footer">
        <div class="panel-footer">
            <b>Secure Clouding</b>
            <span class="navbar-right">Nenad Todorović / David Vuletić / Nemanja Miladinović // July 2016&nbsp</span>
        </div>
    </footer>

</body>
</html>