{% extends 'viewer/base.html' %}
{% block title %}Secure Clouding{% endblock %}
{% load staticfiles %}

{% block content %}

    <div class="panel panel-default">

        <div class="panel-heading">
            <h2 class="panel-title">Gallery content</h2>
        </div>

        <div class="panel-body">

            <div class="images-list">
                <div class="image-item">
                    <a href="{% static 'viewer/img/image1.jpg' %}" title="Nova slika" data-gallery>
                        <img class="over-image" src="{% static 'viewer/img/overimage.png' %}" />
                        <img class="single-image" src="{% static 'viewer/img/image1.jpg' %}" />
                    </a>
                </div>
                <div class="image-item">
                    <a href="{% static 'viewer/img/image2.jpg' %}" title="Nova slika" data-gallery>
                        <img class="over-image" src="{% static 'viewer/img/overimage.png' %}" />
                        <img class="single-image" src="{% static 'viewer/img/image2.jpg' %}" />
                    </a>
                </div>
                <div class="image-item">
                    <a href="{% static 'viewer/img/image3.jpg' %}" title="Nova slika sa mnogo dugackim nazivom, ovo stavljam ovako
                    cito da bih video kako ce se ponasti celo polje...

                    " data-gallery>
                        <img class="over-image" src="{% static 'viewer/img/overimage.png' %}" />
                        <img class="single-image" src="{% static 'viewer/img/image3.jpg' %}" />
                    </a>
                </div>
                <div class="image-item">
                    <a href="{% static 'viewer/img/image4.jpg' %}" title="Nova slika" data-gallery>
                        <img class="over-image" src="{% static 'viewer/img/overimage.png' %}" />
                        <img class="single-image" src="{% static 'viewer/img/image4.jpg' %}" />
                    </a>
                </div>
                <div class="image-item">
                    <a href="{% static 'viewer/img/image5.jpg' %}" title="Nova slika" data-gallery>
                        <img class="over-image" src="{% static 'viewer/img/overimage.png' %}" />
                        <img class="single-image" src="{% static 'viewer/img/image5.jpg' %}" />
                    </a>
                </div>
                <div class="image-item">
                    <a href="{% static 'viewer/img/image6.jpg' %}" title="Nova slika" data-gallery>
                        <img class="over-image" src="{% static 'viewer/img/overimage.png' %}" />
                        <img class="single-image" src="{% static 'viewer/img/image6.jpg' %}" />
                    </a>
                </div>
                <div class="image-item">
                    <a href="{% static 'viewer/img/image7.jpg' %}" title="Nova slika" data-gallery>
                        <img class="over-image" src="{% static 'viewer/img/overimage.png' %}" />
                        <img class="single-image" src="{% static 'viewer/img/image7.jpg' %}" />
                    </a>
                </div>
                <div class="image-item">
                    <a href="{% static 'viewer/img/image8.jpg' %}" title="Nova slika" data-gallery>
                        <img class="over-image" src="{% static 'viewer/img/overimage.png' %}" />
                        <img class="single-image" src="{% static 'viewer/img/image8.jpg' %}" />
                    </a>
                </div>
                <div class="image-item">
                    <a href="{% static 'viewer/img/image9.jpg' %}" title="Nova slika" data-gallery>
                        <img class="over-image" src="{% static 'viewer/img/overimage.png' %}" />
                        <img class="single-image" src="{% static 'viewer/img/image9.jpg' %}" />
                    </a>
                </div>

            </div>
        </div>

        <div class="text-center panel-footer">
            <nav>
                <ul class="pagination">
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li class=""><a href="#">2 <span class="sr-only">(current)</span></a></li>
                    <li class="enabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>
                </ul>
            </nav>
        </div>

        <div id="blueimp-gallery" class="blueimp-gallery">
            <!-- The container for the modal slides -->
            <div class="slides"></div>
            <!-- Controls for the borderless lightbox -->
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
            <!-- The modal dialog, which will be used to wrap the lightbox content -->
            <div class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-part-side">
                            <button type="button" class="btn btn-default prev mybutton">
                                <i class="glyphicon glyphicon-chevron-left"></i>
                            </button>
                        </div>
                        <div class="modal-body modal-part-center next"></div>
                        <div class="modal-part-side">
                            <button type="button" class="btn btn-default next mybutton">
                                <i class="glyphicon glyphicon-chevron-right"></i>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
        <script src={% static 'viewer/js/bootstrap-image-gallery.min.js' %}></script>
    </div>

{% endblock %}