{% extends 'viewer/base.html' %}
{% block title %}Secure Clouding{% endblock %}
{% load staticfiles %}

{% block content %}

    <div class="panel panel-default">

        <div class="panel-heading">
            <h2 class="panel-title">Gallery content</h2>
        </div>

        <div class="panel-body">

            <div class="images-list">
                <div class="image-item">
                    <img class="over-image" src="{% static 'viewer/img/overimage.png' %}" />
                    <img class="single-image" src="{% static 'viewer/img/image1.jpg' %}" />
                </div>
                <div class="image-item">
                    <img class="over-image" src="{% static 'viewer/img/overimage.png' %}" />
                    <img class="single-image" src="{% static 'viewer/img/image2.jpg' %}" />
                </div>
                <div class="image-item">
                    <img class="over-image" src="{% static 'viewer/img/overimage.png' %}" />
                    <img class="single-image" src="{% static 'viewer/img/image3.jpg' %}" />
                </div>
                <div class="image-item">
                    <img class="over-image" src="{% static 'viewer/img/overimage.png' %}" />
                    <img class="single-image" src="{% static 'viewer/img/image4.jpg' %}" />
                </div>
                <div class="image-item">
                    <img class="over-image" src="{% static 'viewer/img/overimage.png' %}" />
                    <img class="single-image" src="{% static 'viewer/img/image5.jpg' %}" />
                </div>
                <div class="image-item">
                    <img class="over-image" src="{% static 'viewer/img/overimage.png' %}" />
                    <img class="single-image" src="{% static 'viewer/img/image6.jpg' %}" />
                </div>

            </div>
        </div>

        <div class="text-center panel-footer">
            <nav>
                <ul class="pagination">
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li class=""><a href="#">2 <span class="sr-only">(current)</span></a></li>
                    <li class="enabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>
                </ul>
            </nav>
        </div>
    </div>

{% endblock %}